/*_______________________________All site style_____________________________*/
* {
    margin: 0;
    padding: 0;
    font-family: "sen", sans-serif;
}
/*_______________________________Background_____________________________*/
body {
    background-image: url(images/black1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*_______________________________Home Page-Box with profile and general info_____________________________*/
.box {
    width: 500px;
    height: 550px;
    max-width: 600px;
    min-width: 250px;
    background-color: rgba(29, 36, 32, 0.37); /*rgba(228, 198, 31, 0.37);*/
    border-radius: 10px;
    text-align: center;
    position: relative;
    margin: auto;
    margin-top: 50px;
    padding: 40px;
    border: 0.5px solid rgba(197, 185, 185, 0.397);
}
.box img {
    width: 200px;
    height: 200px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
}

.box h1 {
    letter-spacing: 5px;
    margin: 10px;
    padding: 10px;
    font-weight: 100%;
    color: white;
}

.box h4 {
    letter-spacing: 3px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
}

.box p {
    text-align: justify;
    color: white;
    font-weight: 100;
    letter-spacing: 3px;
}

.box ul {
    list-style: none;
    padding: 30px;
    display: block;
}

.box li{
    display: inline-block;
    margin: 10px 10px;
    border: rgba(197, 185, 185, 0.397);
    border-radius: 5px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 20px;
}

.box li a {
    text-decoration: none;
    color: whitesmoke;
    display: block;
}

.box li:hover {
    background-color: yellow;
    transition: ease-in-out 800ms;
    transition-timing-function: ease-out 1500ms;
}
.box li:hover a{
    color: black;
    transition: ease-in-out 800ms;
    transition-timing-function: ease-out 1500ms;
}
/*_______________________________Education Page-logo image_____________________________*/
.logo {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}

/*_______________________________menu bar <nav>_____________________________*/
.menu {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.514);
    margin-left: 0;
}
.menu ul {
    margin: 10px 10px;
    border: rgba(197, 185, 185, 0.397);
    border-radius: 5px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 20px;
    list-style: none;
}
.menu ul li {
    display: inline-block;
    margin: 10px 10px;
    border: rgba(197, 185, 185, 0.397);
    border-radius: 5px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 10px 20px;
    width: 80px;
    height: 25px;
    text-align: center;
}
.menu ul li a {
    text-decoration: none;
    color: whitesmoke;
    display: block;
    border-radius: 5px;
}

.menu ul li:hover {
    background-color: yellow;
    transition: ease-in-out 800ms;
    transition-timing-function: ease-out 1500ms;
}
.menu ul li:hover a{
    color: black;
    transition: ease-in-out 800ms;
    transition-timing-function: ease-out 1500ms;
}

/*_______________________________Head of the page_____________________________*/
.head {
    color: whitesmoke;
    text-align: center;
    letter-spacing: 5px;
    position: relative;
    top: 50px;
    margin-bottom: 70px;
}
/*_______________________________Block of information with logo info and date_____________________________*/
.logo-info-date {
    width: 80%;
    min-width: 50%;
    border: rgba(197, 185, 185, 0.397);
    border-radius: 5px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.514);
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    ;
}

.logo-info-date :hover {
    background-color: black;
    border-radius: 40px;
    transition: ease-in 2000ms;
}

.logo-info-date .unilogo {
    display: flex;
    flex: 1;
    padding: 20px;
}

.logo-info-date img {
    width: 150px;
    height: 100px;
    max-width: 400px;
    min-width: 50px;
    margin: auto;
}

#ieseg {
    width: 230px;
    height: 80px;
}

.logo-info-date .info {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.logo-info-date .info h2 {
    padding: 10px;
    letter-spacing: 4px;
}

.logo-info-date .info h3 {
    padding: 5px 10px 1px;
}

.logo-info-date .info h4 {
    padding: 1px 10px 5px;
    font-style: italic;
}

.logo-info-date .info ul {
    padding: 5px 10px;
    list-style: square;
}

.logo-info-date .date {
    flex: 1;
    margin: auto;
    display: flex;
}

.logo-info-date .date h3 {
    margin: auto;
}